// Header
$header-color: #151515;

// Text
$titles-color: #3a3a3a;
$textForm-color: #86868b;

// Form
$strokeForm-color: #a7a6a6;

// Card
$card-color: #ffaf1f;

// Button
$button-color: $card-color;

// Footer
$footer-color: $textForm-color;

// BackGround
$background-color: #f1f1f1;

// General
$white: #ffffff;