:root{
    --header-text-color: #F1F1F1;
    --header-background-color: #151515;

    --section-background-color: #F1F1F1;

    --form-titles-color: #3A3A3A;
    --form-text-color: #86868B;
    --form-input-border-color: #A7A6A6;
    --form-background-color: #fff;

    --plan-title-color: #F1F1F1;
    --plan-title-background-color: #3A3A3A;
    --plan-text-color: #000;
    --plan-background-color: #dddddd;
    --plan-selected-background-color: #FFAF1F;

    --button-text-color: #3A3A3A;
    --button-background-color: #FFAF1F;
    --button-border-color: #dd9a1c;
    
    --footer-text-color: #86868B;
    --footer-link-hover-color: #3A3A3A;
    --footer-border-color: #A7A6A6;
    --footer-background-color: #fff;
}