@media screen and (max-width: 1024px){
    .footer-container .footer-content{
        padding: 30px 50px;
    }

    .footer-container .footer-content.footer-1{
        row-gap: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 640px){
    .section-form-fabricator .fabricator-form .select-plans{
        column-gap: 20px;
        row-gap: 20px;
    }

    .section-form-fabricator .fabricator-form .select-plans .plan-content{
        width: 230px;
        height: 130px;
    }
}

@media screen and (max-width: 480px) {
    .section-form-fabricator .fabricator-form{
        padding: 40px 20px;
    }

    .section-form-fabricator .fabricator-form .form-subtitle{
        text-align: center;
    }

    .footer-container .footer-content{
        flex-direction: column;
    }
}